<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>汽车新闻概况</title>
    <link href="../static/css/clndr.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/style-responsive.css" rel="stylesheet">
    <script src="../static/js/echarts.min.js"></script>
    <link href="../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?943e3e9a5a394351534e70a9e43decdc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

    <style>
        body {
            background: #262D39;
            /*padding: 0 20px 0 20px;*/
            padding: 20px 30px;
        }

        .postdate {
            width: 50%;
            height: 25px;
            padding: 5px;
            text-align: center;
            color: #fff !important;
            border: 1px solid #FFF;
            background: transparent;
        }

        .d_value {
            text-align: center;
            font-size: 24px;
            margin: 50px 0;
        }

        .news_count {
            text-align: center;
            font-size: 24px;
        }

        .m20 {
            margin: 20px 0;
        }

        #tips {
        }

        #tips > div {
            height: 44px;
            line-height: 44px;
            text-align: center;
            color: #fff !important;
            font-size: 10px;
            padding-left: 0px;
            padding-right: 0px;
        }

        #tips > div span {
            margin: 0 4px 0 4px;
            font-size: 11px;
        }

        .panel {
            background: transparent;
            border-radius: 0;
        }

        .paneler {
            background: #374151 !important;
            border-radius: 0 !important;
            box-shadow: none !important;
        }

        .bigtable td:nth-child(odd) {
            background: transparent;
        }

        .bigtable tr:nth-child(even) {
            background: #303947;
        }

        .bigtable td {
            height: 38px;
            text-align: center;
            border-bottom: none;
            color: #E6E7E9;
            min-width: 70px;
        }

        .row_div {
            margin: 0;
            padding: 0;
            height: 80px;
            line-height: 80px;
        }

        .logo-text {
            color: #23b5c0;
            font-size: 28px;
            font-weight: bolder;
            margin-left: 1%;
        }

        .tab img {
            width: 15px;
            height: auto;
            margin-right: 2px;
        }

        .tab a {
            display: inline-block;
            font-size: 16px;
            width: 45%;
            height: 100%;
            text-align: center;
        }

        .active {
            background-color: #374151;
        }

        .tab a:hover {
            color: #65CEA7;
            background-color: #374151;
            text-decoration: none;
        }

        .right {
            color: #b6b7b9;
        }

        .right .set {
            width: 23px;
            height: 23px;
            margin: 0 5% 0 5%
        }

        .right .mtou {
            width: 32px;
            height: 32px;
            margin-left: 2%
        }

        .bigtable tr.head td {
            background: #424f63;
            color: #fff;
            border-right: none;
        }

        .chuang {
            width: 100px;
            height: 50px;
            line-height: 50px;
            border-radius: 10px;
            display: none;
            position: absolute;
            top: 70px;
            right: 10px;
            background: #23b5c0;
            color: #fff;
            text-align: center;
            z-index: 999;
        }
    </style>
</head>

<body class="sticky-header">
<section style="padding-bottom:30px;">
    <div class="row" style="border-bottom: 1px solid #374151;">
        <div class="col-md-3 col-sm-6 row_div" style="display: flex;align-items: center;">
            <img src="../static/images/logo_b.png" class="col-md-10">
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 row_div">
            <div class="tab">
                <a href="/newsServey/" class="active"><span><img src="../static/images/home.png">汽车新闻概况</span></a>
                <a href="/newsRetrieval/"><span><img src="../static/images/search.png">新闻检索</span></a>
            </div>
        </div>
        <div class="col-md-6 row_div col-sm-12 right" style="text-align: right;min-width: 525px;position: relative;">
            <span>新闻更新日期： <span>{{ postdate }}</span>，距离下次更新还剩 <span>{{ delta }}小时</span></span>
            <!-- <img src="../static/images/set.png" class="set"> -->
            <span style="margin-left: 2%;">你好,<span>{{ user_name }}</span></span>
            <img src="../static/images/mou.png" class="mtou">
            <div class="chuang">
                <span><a href="/user_logout/">退出</a></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" id="left">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel">
                        <div class="panel-body paneler">
                            <div class="row" style="padding-left: 15px;color: #EAEAEC; font-size:18px;">
                                <img style="vertical-align: bottom;margin-right: 10px;" src="../static/images/img01.png"/>新闻走势图
                                <img src="../static/images/border-img.png" style="width:90% ;display: block;"/>
                            </div>
                            <div id="dayTrend" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel">
                        <div class="panel-body paneler">
                            <div class="row" style="padding-left: 15px;color: #EAEAEC; font-size:18px;">
                                <img style="vertical-align: bottom;margin-right: 10px;" src="../static/images/img01.png"/>月度新闻量走势图
                                <img src="../static/images/border-img.png" style="width:90% ;display: block;"/>
                            </div>
                            <div id="monthTrend" style="height: 300px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" id="mid">
            <div class="row" style="margin-left: -22px; margin-right: -22px;">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="panel" style="overflow: hidden ;">
                        <div class="row" id="tips">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="background: #23B5C0;width: 30%;">
                                日期：<input type="text" placeholder="时间段" class="postdate" id="postdate" value="{{ postdate }}" autocomplete="off"/>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3" style="background: #FF7D7A;">
                                新闻量<span id="current_count">---</span>条
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3" style="background: #8277B3;width: 20%;">
                                比昨日<span id="Day_on_Day">---</span>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3" style="background: #65D2B2;">
                                30天贡献<span id="ThirtyDaysCBT">---</span>
                            </div>

                        </div>
                        <div class="panel-body paneler">
                            <div class="row" style="padding-left: 15px;color: #EAEAEC; font-size:18px;">
                                <img style="vertical-align: bottom;margin-right: 10px;" src="../static/images/img02.png"/>媒体来源占比
                                <img src="../static/images/border-img2.png" style="width:90% ;display: block;"/>
                            </div>
                            <div id="mediaChart" style="height: 269.5px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel">
                        <div class="panel-body paneler">
                            <div class="row" style="padding-left: 15px;color: #EAEAEC; font-size:18px;">
                                <img style="vertical-align: bottom;margin-right: 10px;" src="../static/images/img03.png"/>关键词云
                                <img src="../static/images/border-img2.png" style="width:90% ;display: block;"/>
                            </div>
                            <div id="wordCloud" style="height: 310px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" id="right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="panel">
                                <div class="panel-body paneler">
                                    <div id="ppsl" class="panele-box" style="height: 430px;">

                                        <table width="100%" border="0" class="bigtable" style="" id="myTable">
                                            <thead>
                                            <tr class="head" style="background-color: rgb(255, 255, 255);">
                                                <td class="out col-md-1" colspan="2"><img style="vertical-align: middle; margin-right: 10px;" src="../static/images/title_table.png"/>品牌声量TOP10</td>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody-ppsl">
                                            <tr>
                                                <td><img src="../static/images/tips_first.png"/></td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td><img src="../static/images/tips_second.png"/></td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td><img src="../static/images/tips_third.png"/></td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>---</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="panel">
                                <div class="panel-body paneler">
                                    <div id="cxsl" class="panele-box" style="height: 430px;">

                                        <table width="100%" border="0" class="bigtable" style="" id="myTable">
                                            <thead>
                                            <tr class="head" style="background-color: rgb(255, 255, 255);">
                                                <td class="out col-md-1" colspan="2"><img style="vertical-align: middle; margin-right: 10px;" src="../static/images/title_table.png"/>车系声量TOP10</td>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody-cxsl">
                                            <tr>
                                                <td><img src="../static/images/tips_first.png"/></td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td><img src="../static/images/tips_second.png"/></td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td><img src="../static/images/tips_third.png"/></td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>---</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel">
                        <div class="panel-body paneler">
                            <div class="row" style="padding-left: 15px;color: #EAEAEC; font-size:18px;">
                                <img style="vertical-align: bottom;margin-right: 10px;" src="../static/images/img04.png"/>情感分布图
                                <img src="../static/images/border-img.png" style="width:90% ;display: block;"/>
                            </div>
                            <div id="feeling" style="height: 215px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p style="text-align: center;margin-top: 10px; color: #7A7676;">技术支持 & 版权所有 北京云捷里亮数科技有限公司</p>
</body>
<script src="../static/js/jquery-1.10.2.min.js"></script>
<script src="../static/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/jquery.nicescroll.js"></script>
<script src="../static/js/scripts.js"></script>
<script src="../static/js/bootstrap-datetimepicker.min.js"></script>
<!-- <script src="../static/js/bootstrap-datetimepicker.zh-CN.js"></script> -->
<script src="../static/js/echarts-wordcloud.min.js"></script>
<script src="../static/js/jquery.ba-resize.min.js"></script>

<script type="text/javascript">

    $(".mtou").mouseenter(function () {
        $(".chuang").show();
    });


    $(".right").mouseleave(function () {
        $(".chuang").hide();
    });


    $(".chuang").click(function () {
        window.location.href = "/user_logout/";
    });


    function init_dayRangeChart(xAxis_data, series_data, avg) {
        var dayRangeChart = echarts.init(document.getElementById("dayTrend"));
        dayRangeChart.clear();
        var option = {
            backgroundColor: '#374151',
            grid: {
                x: 50,
                y: 25,
                x2: 60,
                y2: 35
            },
            xAxis: {
                type: 'category',
                data: xAxis_data,
                axisLabel: {
                    textStyle: {
                        color: '#EAEAEC'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#454F5D',
                    }
                }

            },
            yAxis: {
                type: 'value',
                //					splitLine:{show: false},//去除网格线
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: ['#454F5D'],
                        width: 1,
                        type: 'solid'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#EAEAEC'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#454F5D',
                    }
                }

            },
            tooltip: {
                formatter: '日期:{b} <br/>数量:{c}'
            },
            series: [{
                data: series_data,
                type: 'line',
                markLine: {
                    silent: true,
                    lineStyle: {
                        normal: {
                            color: '#CB3933'
                        }
                    },
                    data: [{
                        yAxis: avg
                    }],
                    label: {
                        normal: {
                            formatter: avg
                        }
                    },
                }
            }]
        };
        $('#dayTrend').parent().resize(function () {
            dayRangeChart.resize();
        });
        dayRangeChart.setOption(option)
    }

    function init_monthTrendChart(xAxis_data, series_data) {
        var monthTrendChart = echarts.init(document.getElementById("monthTrend"));
        monthTrendChart.clear();
        var option = {
            grid: {
                x: 50,
                y: 25,
                x2: 60,
                y2: 35
            },
            color: ['#23B5C0'],
            xAxis: {
                type: 'category',
                data: xAxis_data,
                axisLabel: {
                    textStyle: {
                        color: '#EAEAEC'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#454F5D',
                    }
                }
            },
            yAxis: {
                type: 'value',
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: ['#454F5D'],
                        width: 1,
                        type: 'solid'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#EAEAEC'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#454F5D',
                    }
                }
            },
            grid: {
                left: '15%',
                right: '3%'
            },
            tooltip: {
                formatter: '年月:{b} <br/>数量:{c}'
            },
            series: [{
                data: series_data,
                type: 'bar',
                itemStyle: {
                    normal: {
                        label: {
                            show: false, //开启显示
                            position: 'top', //在上方显示
                            textStyle: { //数值样式
                                color: 'black',
                                fontSize: 10
                            }
                        }
                    }
                }
            }]
        };
        $('#monthTrend').parent().resize(function () {
            monthTrendChart.resize();
        });
        monthTrendChart.setOption(option)
    }


    function init_mediaChart(series_data) {
        var mediaChart = echarts.init(document.getElementById("mediaChart"));
        mediaChart.clear();
        var option = {
            color: ['#fc8675', '#6a8abe', '#4acacb', '#5ab6df', '#f3d970', '#66c187', '#ab8dcf', '#b9857e', '#5e6e8b', '#f9c1b1'],
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            calculable: true,
            series: [{
                name: '媒体来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: series_data,
            }]
        };
        $('#mediaChart').parent().resize(function () {
            mediaChart.resize();
        });
        mediaChart.setOption(option)
    }

    function init_feelingChart(qgfb_fuzhu, qgfb_juti) {
        var follow6 = document.getElementById('feeling');
        var myChart6 = echarts.init(follow6);
        option = {
            grid: {
                x: 50,
                y: 25,
                x2: 60,
                y2: 35
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                },
                formatter: function (params) {
                    var tar;
                    if (params[1].value != '-') {
                        tar = params[1];
                    } else {
                        tar = params[0];
                    }
                    return tar.name + ' : ' + tar.value + '%';
                }
            },
            grid: {
                left: '10%',
                right: '10%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                splitLine: {
                    show: false
                },
                data: ['负向', '中性', '正向'],
                axisLabel: {
                    textStyle: {
                        color: '#EAEAEC'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#454F5D',
                    }
                }
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} %'
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: ['#454F5D'],
                        width: 1,
                        type: 'solid'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: '#EAEAEC'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#454F5D',
                    }
                }
            },
            series: [{
                name: '辅助',
                type: 'bar',
                stack: '总量',
                itemStyle: {
                    normal: {
                        barBorderColor: 'rgba(0,0,0,0)',
                        color: 'rgba(0,0,0,0)'
                    },
                    emphasis: {
                        barBorderColor: 'rgba(0,0,0,0)',
                        color: 'rgba(0,0,0,0)'
                    }
                },
                data: qgfb_fuzhu
            }, {
                name: '具体',
                type: 'bar',
                stack: '总量',
                itemStyle: {
                    normal: {
                        show: true,
                        position: 'top',
                        color: function (params) {
                            var colorList = [
                                '#FF7D7A', '#FFD39B', '#65D2B2'
                            ];
                            return colorList[params.dataIndex]
                        }
                    }
                },
                label: {
                    show: true,
                    position: 'top',
                    formatter: '{c}%'
                },
                data: qgfb_juti
            },]
        };
        $('#feeling').parent().resize(function () {
            myChart6.resize();
        });
        myChart6.setOption(option);
    }

    function init_worldCloudcharts(series_data) {
        var worldCloudcharts = echarts.init(document.getElementById('wordCloud'));
        var worldCloudoption = {
            /*title: {
             text: '关键词云',
             x: 'left',
             textStyle: {
             color: '#EAEAEC'
             }
             },*/
            series: [{
                name: '关键词云',
                type: 'wordCloud',
                sizeRange: [16, 50],
                rotationRange: [-45, 90],
                textPadding: 0,
                autoSize: {
                    enable: true,
                    minSize: 16
                },
                tooltip: {
                    show: true
                },
                textStyle: {
                    normal: {
                        color: function () {
                            return 'rgb(' + [
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160)
                                ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: series_data
            }]
        };
        $('#wordCloud').parent().resize(function () {
            worldCloudcharts.resize();
        });
        worldCloudcharts.setOption(worldCloudoption);
    }

    function init_volumeTable(brand_volume, model_volume) {
        var phbiao = '';
        var index = 0;
        for (var brand in brand_volume) {
            index = index + 1;
            phbiao = phbiao + '<tr><td>' + index + '</td><td>' + brand + '</td></tr>';
        }
        phbiao = phbiao.replace('<td>1</td>', '<td><img src="../static/images/tips_first.png"/></td>');
        phbiao = phbiao.replace('<td>2</td>', '<td><img src="../static/images/tips_second.png"/></td>');
        phbiao = phbiao.replace('<td>3</td>', '<td><img src="../static/images/tips_third.png"/></td>');
        $("#tbody-ppsl").html(phbiao);
        index = 0;
        phbiao = '';
        for (var model in model_volume) {
            index = index + 1;
            phbiao = phbiao + '<tr><td>' + index + '</td><td>' + model + '</td></tr>';
        }
        phbiao = phbiao.replace('<td>1</td>', '<td><img src="../static/images/tips_first.png"/></td>');
        phbiao = phbiao.replace('<td>2</td>', '<td><img src="../static/images/tips_second.png"/></td>');
        phbiao = phbiao.replace('<td>3</td>', '<td><img src="../static/images/tips_third.png"/></td>');
        $("#tbody-cxsl").html(phbiao);
    }


    function isOK(count, postdate) {
        if (count == 5) {
            $('#postdate').removeAttr("disabled");
            $('#postdate').val(postdate);
        } else {
            $('#postdate').val('查询中...');
            $('#postdate').attr("disabled", "disabled");
        }
    }

    function change_day(postdate) {
        var count = 0;
        $.get('/get_dayInfo/?postdate=' + postdate, function (data) {
            $('#current_count').html(data.current_count);
            $('#Day_on_Day').html(data.Day_on_Day);
            $('#ThirtyDaysCBT').html(data.ThirtyDaysCBT);
            count++;
            isOK(count, postdate);
        });
        $.get('/get_mediaInfo/?postdate=' + postdate, function (data) {
            init_mediaChart(data.mediaChartData.series_data);
            count++;
            isOK(count, postdate);
        });
        $.get('/get_wordCloud/?postdate=' + postdate, function (data) {
            init_worldCloudcharts(data.wordCloudData.series_data);
            count++;
            isOK(count, postdate);
        });
        $.get('/get_volumeInfo/?postdate=' + postdate, function (data) {
            init_volumeTable(data.volumeTableData.brand_volume, data.volumeTableData.model_volume);
            count++;
            isOK(count, postdate);
        });
        $.get('/get_feelingInfo/?postdate=' + postdate, function (data) {
            init_feelingChart(data.feelingChartData.qgfb_fuzhu, data.feelingChartData.qgfb_juti);
            count++;
            isOK(count, postdate);
        });
    }


    $(function () {
        $.get("/get_dayTrend/", function (data) {
            xAxis_data = data.chart_data.xAxis_data;
            series_data = data.chart_data.series_data;
            avg = data.chart_data.avg;
            init_dayRangeChart(xAxis_data, series_data, avg);
        });
        $.get("/get_monthTrend/", function (data) {
            xAxis_data = data.chart_data.xAxis_data;
            series_data = data.chart_data.series_data;
            init_monthTrendChart(xAxis_data, series_data);
        });

        change_day('{{ postdate|safe }}');


        $('#postdate').datetimepicker({
            language: "zh-CN", //汉化
            todayBtn: "true",  //显示今天按钮
            autoclose: true,   //选择日期后自动关闭日期选择框
            todayHighlight: true,   //当天高亮显示
            minView: "month",   //不显示时分秒
            showMeridian: 1,
            format: "yyyy-mm-dd",
            pickerPosition: "bottom-left",
            endDate: new Date()
        }).on('changeDate', function (e) {
            var postdate = $('#postdate').val();
            $('#postdate').val('查询中...');
            $('#postdate').attr("disabled", "disabled");
            change_day(postdate);
        });
    })
</script>

</html>