<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title></title>

    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/style-responsive.css" rel="stylesheet">

</head>

<body class="sticky-header">

<section>

    <!--body wrapper start-->

    <div class="row" style="text-align:center;margin-top:-500px;">
        <img src="../static/images/welcome.jpg" style="width:350px;height:350px;border-radius:50%;border:8px solid #fff;"/>
        <p style="padding-top:15px;text-align:center;font-size:28px;color:#65cea7">欢迎使用<span style="color:#424f63;">云捷新闻监测平台</span></p>

    </div>
    <!--body wrapper end-->


</section>

<script src="../static/js/jquery-1.10.2.min.js"></script>
<script src="../static/js/jquery.nicescroll.js"></script>
<script src="../static/js/scripts.js"></script>
<script>
    $(document).ready(function () {
        $("div.row").animate({
            marginTop: '15%',
            //opacity:'1',
        });

    });


</script>


</body>
</html>
